<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Document</title>
</head>
<body style="background-color:rgb({{bg_color}})">
  <div id="back"><a href="{{url_for('index')}}" >X</a></div>
  <div id="globalWapper">
  <article>
    <h2>{{location.location}}</h2>
    <h4>{{location.country}}</h4>
      {%if location.image_link%}
        <img src="{{location.image_link}}" alt="">
      {%endif%}
    {{location.summary}}
    <a href="{{location.wiki_link}}" >Learn More</a>
  </article>
  </div>
</body>
</html>
